body {
    background-color: black;
    font-family: 'Aclonica';
}

@keyframes logo-animation {
    0% {
        width: 960px; 
    }
    100% {
        width: 150px
    }
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    animation-name: logo-animation;
    animation-duration: 3s;
    user-select: none;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

h1{
    color:gold;
    user-select: none;
    text-shadow: white 0.1em 0.1em 0.1em;
    text-shadow: 0 0 0.2em #ffffffcc, 0 0 0.2em #ffffffcc;
    font-size: 60px;
}

h2 {
    color:gold;
    user-select: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.center.title {
    padding-top: 20vh;
}

.center.links {
    padding-top: 35vh;
}

.center a {
    margin-right: 25px;
    text-decoration: none;
}

.center a:last-child {
    /* Remove the margin for the last link */
    margin-right: 0;
}

/* Strictly speaking, changing opacity is changing colors :) */
.center a:hover {
    opacity:0.5; 
    transition: 0.3s
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: top 0.5s ease;
}

.video-container.scrolled .content {
    top: 50%;
}

@media (max-width: 600px) {
    iframe {
      width: 75%;
      height: 225px;
    }

    @keyframes logo-animation {
        0% {
            width: 100%; 
        }
        100% {
            width: 150px;
        }
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 17px;
    }

    .center.links {
        padding-top: 60%;
    }
}