body {
    background-color: black;
}

@keyframes logo-animation {
    0% {
        width: 960px; 
    }
    100% {
        width: 100px
    }
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    animation-name: logo-animation;
    animation-duration: 2s;
    user-select: none;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

@media (max-width: 600px) {
    iframe {
      width: 75%;
      height: 100%
    }

    @keyframes logo-animation {
        0% {
            width: 100%; 
        }
        100% {
            width: 100px
        }
    }
}

h1{
    color:gold;
    user-select: none;
    text-shadow: white 0.1em 0.1em 0.1em;
    text-shadow: 0 0 0.2em #ffffffcc, 0 0 0.2em #ffffffcc;
    font-size: 50px;
}

h2 {
    color:gold;
    user-select: none;
    padding-bottom: 200px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.center a {
    margin-right: 25px;
    text-decoration: none;
}

/* Strictly speaking, changing opacity is changing colors :) */
.center a:hover {
    opacity:0.5; 
    transition: 0.3s
}

body {
    font-family: 'Aclonica';
}